<html>
<head>
<!--
TODO:
Allow loan term monthly
include panel with payment options: balloon, one-time, addl monthly, compound freq.
include panel with taxes/insurance: prop tax, homeowners insurance
-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mortgage/Loan Calculator, Print-friendly Amorization Schedule</title>
  <meta name="description" content="morgage loan calculator with print-friedly amorization schedule. &bulet; CPA Gardens">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.css" rel="stylesheet">
  <style>
  form { margin-bottom: 0; }
  .summery {
    display: block;
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 4px;
  }
  .summery h3 {
    margin: 10px 0;
  }
  /* override grid system to act as 12col grid for this block */
  @media (min-width: 768px) {
    .summery .col-sm-3 {
      width: 25%;
    }
  }
  #schedule thead td, #schedule tfoot td {font-weight: bold; }
  </style>
</head>
<body>
  <div class="container">

    <div class="page-header">
      <h2 id="page-title">Loan Amortization Schedule</h2>
    </div>

    <form id="amorization-form" role="form" class='row'>
      <div class='form-group col-sm-2'>
        <label for="amount">Loan Amount</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" id="amount" class="form-control" value='150,000'>
        </div>
      </div>

      <div class='form-group col-sm-2'>
        <label for="term">Loan Term</label>
        <div class="input-group">
          <input type="number" id="term" class="form-control" value='15'>
          <span class="input-group-addon">Years</span>
        </div>
      </div>

      <div class='form-group col-sm-2'>
        <label for="rate">Interest Rate</label>
        <div class="input-group">
          <input type="number" step='0.1' id="rate" class="form-control" value='5.9'>
          <span class="input-group-addon">%</span>
        </div>
      </div>

      <div class='form-inline col-sm-2' style='white-space: nowrap;'>
        <label for="month" style='display:block;'>Start Date</label>
        <div class='form-group'>
          <select class="form-control" id="month">
            <option label="Jan" value="1" selected="selected">Jan</option>
            <option label="Feb" value="2">Feb</option>
            <option label="Mar" value="3">Mar</option>
            <option label="Apr" value="4">Apr</option>
            <option label="May" value="5">May</option>
            <option label="Jun" value="6">Jun</option>
            <option label="Jul" value="7">Jul</option>
            <option label="Aug" value="8">Aug</option>
            <option label="Sep" value="9">Sep</option>
            <option label="Oct" value="10">Oct</option>
            <option label="Nov" value="11">Nov</option>
            <option label="Dec" value="12">Dec</option>
          </select>
        </div>
        <div class='form-group'>
          <select class="form-control" id="year">
            <option label="1990" value="1990">1990</option>
            <option label="1991" value="1991">1991</option>
            <option label="1992" value="1992">1992</option>
            <option label="1993" value="1993">1993</option>
            <option label="1994" value="1994">1994</option>
            <option label="1995" value="1995">1995</option>
            <option label="1996" value="1996">1996</option>
            <option label="1997" value="1997">1997</option>
            <option label="1998" value="1998">1998</option>
            <option label="1999" value="1999">1999</option>
            <option label="2000" value="2000">2000</option>
            <option label="2001" value="2001">2001</option>
            <option label="2002" value="2002">2002</option>
            <option label="2003" value="2003">2003</option>
            <option label="2004" value="2004">2004</option>
            <option label="2005" value="2005">2005</option>
            <option label="2006" value="2006">2006</option>
            <option label="2007" value="2007">2007</option>
            <option label="2008" value="2008">2008</option>
            <option label="2009" value="2009">2009</option>
            <option label="2010" value="2010">2010</option>
            <option label="2011" value="2011">2011</option>
            <option label="2012" value="2012">2012</option>
            <option label="2013" value="2013" selected="selected">2013</option>
            <option label="2014" value="2014">2014</option>
            <option label="2015" value="2015">2015</option>
            <option label="2016" value="2016">2016</option>
            <option label="2017" value="2017">2017</option>
            <option label="2018" value="2018">2018</option>
          </select>
        </div>
      </div>
      <div class='form-group col-sm-2'>
        <div class="radio">
          <label>
          <input type="radio" name="display" id="display1" value="month">
            Show by month
          </label>
        </div>
        <div class="radio">
          <label>
          <input type="radio" name="display" id="display2" value="year" checked>
            Show by year
          </label>
        </div>
      </div>
    </form>

    <div id='summery' class='summery text-center'></div>

    <table id="schedule" class='table table-bordered table-striped table-responsive table-hover'>
    </table>

    <footer class='text-right' style='margin-bottom: 1.428em;'>
      <hr>
      <small>&copy; <a href="http://www.cpagardens.com">CPA Gardens</a></small>
    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!--<script src="bootstrap/dist/js/bootstrap.min.js"></script>-->
  <script src="js/underscore.min.js"></script>
  <script src="js/financejs/finance.js"></script>
  <script src="js/app.js"> </script>
  <script type="text/template" id="summery-template">
    <div class='row'>
      <div class='col-sm-3'>
      <h3><%- finance.format(rc.monthlyPayment, 'USD') %> </h3>
        Monthly Principal &amp; Interest
      </div>
      <div class='col-sm-3'>
        <h3><%- finance.format(rc.totalPayments, 'USD') %> </h3>
        Total of <%- rc.totalPaymentsNum %> Payments
      </div>
      <div class='col-sm-3'>
        <h3><%- finance.format(rc.totalInterest, 'USD') %> </h3>
        Total Interest Paid
      </div>
      <div class='col-sm-3'>
        <h3><%- rc.payoffDate %> </h3>
        Pay-off Date
      </div>
    </div>
  </script>
  <script type="text/template" id="table-template">
    <thead>
      <tr>
        <td>Date</td>
        <td>Payment</td>
        <td>Interest</td>
        <td>Principle</td>
        <td>Balance</td>
      </tr>
    </thead>
    <tbody>
      <% _.each( rc.items, function( item ){ %>
        <tr>
          <td> <%- item.date %> </td>
          <td><%- finance.format(item.payment, 'USD')  %></td>
          <td><%- finance.format(item.paymentToInterest, 'USD') %></td>
          <td><%- finance.format(item.paymentToPrinciple, 'USD') %></td>
          <td><%- finance.format(item.principle, 'USD') %></td>
        </tr>
      <% }); %>
    </tbody>
    <tfoot>
      <tr>
        <td>&nbsp;</td>
        <td><%- finance.format(rc.totalPayments, 'USD') %></td>
        <td><%- finance.format(rc.totalInterest, 'USD') %></td>
        <td><%- finance.format(rc.totalPrinciple, 'USD') %></td>
        <td>&nbsp;</td>
      </tr>
    </tfoot>
  </script>
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='http://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>
</body>
</html>
